:root{
    --hacker-text-color:rgb(63, 196, 63);
}

html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}
p {
    white-space: pre;
}
body {
    background-image: url('../static/kali-linux-wallpaper-v1.jpg');
    background-size: 100% 100%; 
    color:var(--hacker-text-color);
    font-weight: 500;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer {
    border-top:    2px solid  var(--hacker-text-color);
    background-color: #00000050;
    padding: 15px;
}
main {
    padding: 25px;
}
.shown {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
}

.hidden {
    display: none;
}

button {
    background-color: rgb(27, 27, 27);
    border-radius: 8px;
    color: var(--hacker-text-color);
    font-weight: bold;
    border:1px solid rgb(54, 54, 54);
    padding: 5px 8px 5px 8px ;
}

#wiki, #camera {
    background-color: #00000090;
    border-radius: 25px;
    margin: auto 0 auto 0;
    position: absolute;
    padding: 10px 35px 10px 35px;
    top: 0; left: 0; bottom: 0; right: 0;
    width: fit-content;
    height: fit-content;
    z-index: 10;
}

a {
    color:#3f81d8;
}

#hideWiki-btn, #hideCamera-btn {
    background-color: transparent;
    border: none;
    color:var(--hacker-text-color);
    font-size: x-large;
    font-weight: bold;
    height: 20px;
    cursor: pointer;
}
